{% extends "layouts/main.html" %}

{% set pageName="To Do" %}

{% block content %}

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">45357731</span>
  Eion McLove
</h1>

{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'To do (2)',
    href: '#1',
    active: true
  }, {
    text: 'Completed (42)',
    href: '#2'
  }]
}) }}

<table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col" id="select-all"></th>
      <th class="govuk-table__header" scope="col">Material</th>
      <th class="govuk-table__header" scope="col">Classification</th>
      <th class="govuk-table__header" scope="col">Status</th>
      <th class="govuk-table__header" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row govuk-table__row--selected">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
          <input type="checkbox" class="govuk-checkboxes__input">
          <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
            <span class="govuk-visually-hidden">Select Aconcagua</span>
          </label>
        </div>
      </td>
      <td class="govuk-table__cell">Ex SM1 photo of Knife</td>
      <td class="govuk-table__cell">Unknown</td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--turquoise">
          Evidential
        </strong>
        </td>
      <td class="govuk-table__cell"><a href="#" class="govuk-link"><span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span><span class="govuk-accordion__section-toggle-text">View document</span></a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
          <input type="checkbox" class="govuk-checkboxes__input" id="mountain-denali" value="denali">
          <label class="govuk-label govuk-checkboxes__label" for="mountain-denali">
            <span class="govuk-visually-hidden">Select Denali</span>
          </label>
        </div>
      </td>
      </td>
      <td class="govuk-table__cell">MG4</td>
      <td class="govuk-table__cell">Statements</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
          Unused
        </strong></td>
      <td class="govuk-table__cell"><a href="#" class="govuk-link"><span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span><span class="govuk-accordion__section-toggle-text">View document</span></a></td>
    </tr>
  </tbody>
</table>

{% endblock %}